* {
}

td {

  padding: 16px;

  border-bottom:
    1px solid #e5e7eb;

}

tr:hover {

  background: #f8fafc;

}

.badge {

  background: #dbeafe;

  color: #1d4ed8;

  padding: 10px;

  border-radius: 14px;

  font-weight: bold;

  line-height: 1.5;

  display: inline-block;

  min-width: 120px;

  text-align: center;

}

.campo {

  width: 100%;

  padding: 12px;

  border-radius: 12px;

  border: 1px solid #d1d5db;

  background: #f9fafb;

  font-size: 15px;

}

.campo:focus {

  outline: none;

  border-color: #2563eb;

  background: white;

}
